<h3>{{title}}</h3>
<form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
    <div class="row">
    <div class="input-field col s6">
    <input type="text" class="invalid validate" name="UserName" #UserName="ngModel" [(ngModel)] = "user.UserName" required>
    <label data-error="Required field!">UserName</label>
    </div>
    <div class="input-field col s6">
    <input type="text" class="invalid validate" name="Email" #Email="ngModel" [(ngModel)] = "user.Email" email required>
    <label data-error="Invalid email">Email</label>
    </div>
    <div class="input-field col s6">
    <input type="text" class="invalid validate" name="FirstName" #FirstName="ngModel" [(ngModel)] = "user.FirstName" required>
    <label data-error="Required field!">FirstName</label>
    </div>
    <div class="input-field col s6">
    <input type="text" class="invalid validate" name="LastName" #LastName="ngModel" [(ngModel)] = "user.LastName" required>
    <label data-error="Required field!">LastName</label>
    </div>
</div>

<div class="row">
        <div class="col s6">
                <label>Role:</label>
                <div *ngFor="let enum of roles">
                <label for="enum_role_{{enum.Name}}">
                    <input id="enum_role_{{enum.Name}}" [value]='enum.Id' type="radio" name="enums" [(ngModel)]="radioSelected" (change)="handleChange(radioSelected)">
                    {{enum.Name}}
                </label>
                </div>
        </div>
        <div class="col s6">
                <div class="classes" *ngIf="radioSelected == '3'">
                        <label>Classe:</label>
                        <select name="classeSelect" [(ngModel)]="classValue">
                                <option *ngFor="let enum of classes" [ngValue]="enum.Code">{{enum.Label}}</option>
                        </select>
                </div>
                <div class="subjects" *ngIf="radioSelected == '2'">
                        <label>Subject:</label>
                        <select name="subjectSelect" [(ngModel)]="subjectValue">
                                <option *ngFor="let enum of subjects" [ngValue]="enum.Code">{{enum.Label}}</option>
                        </select>
                </div>
        </div>
</div>


<div class="row">

    <div class="input-field col s12">
    <button [disabled]="!userRegistrationForm.valid || !radioSelected " class="btn-large btn-submit" type="submit">Submit</button>
    </div>
</div> 
</form>
