<h3>{{title}}</h3>
<div class="information col s12 white">
  <div class="infos col s6">
  <label>FirstName: </label><span>{{myData?.Infos.FirstName}}</span>
  </div>
  <div class="infos col s6">
  <label>LastName: </label><span>{{myData?.Infos.LastName}}</span>
  </div>
  <div class="infos col s6">
  <label>Email: </label><span>{{myData?.Infos.Email}}</span>
  </div>
  <div class="infos col s6">
  <label>Classe: </label><span>{{myData?.Infos.Label}}({{myData?.Infos.Code}})</span>
  </div> 
</div>
  <br><br>
  <br><br>
  <h5>List Of Students:</h5>
  <div id="test-swipe-1" class="col s12">
      <table>
          <thead>
              <tr>
                  <th>
                    Student
                  </th>
                  <th>
                    Classe
                  </th>
                  <th>
                      Email
                  </th>
                </tr>
          </thead>
          <tbody>
              <tr *ngFor="let col of myData?.ClassesAndStudents">
                  <td>
                    {{col.FullName}}
                  </td>
                  <td>
                    {{col.Classe_Label}} ({{col.Classe_Code}})
                  </td>
                  <td>
                      {{col.Email}}
                    </td>
                </tr>
          </tbody>
          
        </table>
  </div>
 

