<nav>
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
          <li *ngIf="userService.roleMatch(['Admin'])">
                <a routerLink="/signup" routerLinkActive='active'>Add User</a>
          </li>
          <li *ngIf="userService.roleMatch(['Admin'])">
            <a routerLink="/classes" routerLinkActive='active'>Classes</a>
          </li>
          <li *ngIf="userService.roleMatch(['Student'])">
            <a routerLink="/mystudent" routerLinkActive='active'>My Data</a>
          </li>
          <li *ngIf="userService.roleMatch(['Teacher'])">
            <a routerLink="/myteacher" routerLinkActive='active'>My Data</a>
          </li>
        </ul>
      <a class="brand-logo center">
        <i class="material-icons">cloud</i>AppSchool</a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="userService.roleMatch(['Admin','Teacher','Student'])">
              <a routerLink="/profile" routerLinkActive='active'>Profile</a>
        </li>
        <li>
          <a (click)="Logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
      <div class="col s8 offset-s2">
          <div class="card grey lighten-2">
              <div class="card-content white">
                  <div class="row">
                      <router-outlet></router-outlet>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <footer class="page-footer">
        <div class="container">
        © {{today | date:'yyyy'}} Copyright SchoolAppToday
        </div>
        <br>
    </footer>
        